// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    nav {

        a {
            margin-right: 30px;
            font-size: 1.4rem;
            text-decoration: none;
            color: black;
            padding-top: 20px;
        }
    }
}

.intro {

    img {
        margin: 20px 0 20px 0;
        border-top: 2px dashed @navigation-border;
    }
}